<!-- 自定义登录页 -->
<!-- 顶1-logo -->
<div class="top-box">
  <ul class="top-ul">
    <li><img src="/assets/opcimg/login-imgs/u40.png" /></li>
    <li><p id="u39_p">&</p></li>
    <li><img src="/assets/opcimg/login-imgs/u38.png" /></li>
    <li><p id="u37_p">数据的价值源于动态的管理和应用</p></li>
    <li><p id="u36_p">技术支持电话：0451-87001273</p></li>
  </ul>
  <div class="top-div-sys-name">
    <p>光电缆径路测绘及动态安全管控系统</p>
  </div>
</div>

<div class="center-box">
  <!-- 登录框  -->
  <div class="center-login">
    <router-outlet style="color: white"></router-outlet>
  </div>
</div>
<!--  底部盈达出品-->
<div class="bottom-box">
  <div class="bottom-context">
    <img style="width: 40px; height: 35px" src="/assets/opcimg/login-imgs/login-logo-yd.png" />
    Copyright <i nz-icon nzType="copyright"></i> 2020 <a href="//www.yingdatech.com/" target="_blank">哈尔滨盈达科技有限公司</a> 研制
  </div>
</div>
<!--<layout-theme-btn></layout-theme-btn>-->
