<!--outer box -->
<div style="background: white">
  <!-- top box -->
  <div id="top_box">
    <table>
      <tr>
        <td><img src="/assets/opcimg/opc-index-imgs/u240.png" /></td>
        <td><img src="/assets/opcimg/opc-index-imgs/u243.png" /></td>
        <td><img src="/assets/opcimg/opc-index-imgs/u252.png" /></td>
        <td><img src="/assets/opcimg/opc-index-imgs/u246.png" /></td>
        <td><img src="/assets/opcimg/opc-index-imgs/u249.png" /></td>
        <td><div class="td_text">待批配合方案：16个</div></td>
        <td id="td_box1">
          <img id="u215_img" class="img" src="/assets/opcimg/opc-index-imgs/u215.png" />
          <img id="u217_img" class="img" src="/assets/opcimg/opc-index-imgs/u217.png" />
        </td>
        <td id="td_box2">
          <img id="u220_img" class="img" src="/assets/opcimg/opc-index-imgs/u215.png" />
          <img id="u222_img" class="img" src="/assets/opcimg/opc-index-imgs/u222.png" />
        </td>
        <td id="td_box3">
          <img id="u225_img" class="img" src="/assets/opcimg/opc-index-imgs/u215.png" />
          <img id="u227_img" class="img" src="/assets/opcimg/opc-index-imgs/u227.png" />
        </td>
        <td id="td_box4">
          <img id="u230_img" class="img" src="/assets/opcimg/opc-index-imgs/u215.png" />
          <img id="u232_img" class="img" src="/assets/opcimg/opc-index-imgs/u232.png" />
        </td>
        <td id="td_box5">
          <img id="u235_img" class="img" src="/assets/opcimg/opc-index-imgs/u215.png" />
          <img id="u237_img" class="img" src="/assets/opcimg/opc-index-imgs/u237.png" />
        </td>
        <td id="td_box6"><div class="td_text">未开始施工方案：16个</div></td>
        <td id="td_box7"><img src="/assets/opcimg/opc-index-imgs/u258.png" /></td>
        <td id="td_box8"><img src="/assets/opcimg/opc-index-imgs/u261.png" /></td>
        <td id="td_box9"><img src="/assets/opcimg/opc-index-imgs/u264.png" /></td>
        <td id="td_box10"><img src="/assets/opcimg/opc-index-imgs/u267.png" /></td>
        <td id="td_box11"><img src="/assets/opcimg/opc-index-imgs/u270.png" /></td>
        <td id="td_box12"><div class="td_text">正在施工进行：16个</div></td>
      </tr>
    </table>
    <!--table结束-->
  </div>
  <h1 class="h1css"></h1>

  <!--  bottom box -->
  <!--  TODO:底部流程图-->
  <div id="bottom_box">
    <!------------------------ 横向第一部分 ------------------------>
    <!-- 矩形+横线+文字 -->
    <img id="u175_img" class="img" src="/assets/opcimg/opc-index-imgs/u175.png" />
    <div id="u176" class="text" style="visibility: visible">
      <p><span>光电缆径路数据</span></p>
    </div>
    <img id="u151_img" class="img" src="/assets/opcimg/opc-index-imgs/u151.png" />
    <!-- 多边+箭头+文字 -->
    <div routerLink="/construction-coordinate-plan/list">
      <img id="u125_img" class="img" src="/assets/opcimg/opc-index-imgs/u125.png" />
      <div id="u126" class="text" style="visibility: visible">
        <p><span>施工配合方案</span></p>
      </div>
    </div>
    <img id="u135p000_img" class="img" src="/assets/opcimg/opc-index-imgs/u135p000.png" />
    <!-- 多边+箭头+文字 -->
    <img id="u127_img" class="img" src="/assets/opcimg/opc-index-imgs/u125.png" />
    <div id="u128" class="text" style="visibility: visible">
      <p><span>施工计划报批</span></p>
    </div>
    <!-- 左右箭头+文字 -->
    <img id="u183_img" class="img" src="/assets/opcimg/opc-index-imgs/u183.png" />
    <div id="u186" class="text" style="visibility: visible">
      <p><span>5.0系统数据导入导出</span></p>
    </div>

    <!------------------------ 以第一个矩形为起点，第二部分，两矩形 ------------------------>
    <!-- 矩形+文字+横线+连接三个矩形的竖线 -->
    <img id="u177_img" class="img" src="/assets/opcimg/opc-index-imgs/u175.png" />
    <div id="u178" class="text" style="visibility: visible">
      <p><span>线路数据</span></p>
    </div>
    <img id="u153_img" class="img" src="/assets/opcimg/opc-index-imgs/u149.png" />
    <img id="u155_img" class="img" src="/assets/opcimg/opc-index-imgs/u155.png" />
    <!-- 矩形+文字+横线 -->
    <img id="u179_img" class="img" src="/assets/opcimg/opc-index-imgs/u175.png" />
    <div id="u180" class="text" style="visibility: visible">
      <p><span>现场调查数据</span></p>
    </div>
    <img id="u149_img" class="img" src="/assets/opcimg/opc-index-imgs/u149.png" />

    <!------------------------ 以第一个矩形为起点，第三部分，多边形+椭圆 ------------------------>
    <!-- 竖箭头+多边+文字+ -->
    <img id="u141p000_img" class="img" src="/assets/opcimg/opc-index-imgs/u141p000.png" />
    <img id="u131_img" class="img" src="/assets/opcimg/opc-index-imgs/u125.png" />
    <div id="u132" class="text" style="visibility: visible">
      <p><span>统计分析</span></p>
    </div>
    <!-- 竖2多边分支+分支线+分支icon -->
    <!-- 205分支中竖线+199分支横线+201、203分支小竖线+193/189/191icon -->
    <img id="u205_img" class="img" src="/assets/opcimg/opc-index-imgs/u205.png" />
    <img id="u199_img" class="img" src="/assets/opcimg/opc-index-imgs/u199.png" />
    <img id="u201_img" class="img" src="/assets/opcimg/opc-index-imgs/u201.png" />
    <img id="u203_img" class="img" src="/assets/opcimg/opc-index-imgs/u201.png" />
    <img id="u193_img" class="img" src="/assets/opcimg/opc-index-imgs/u193.png" />
    <img id="u189_img" class="img" src="/assets/opcimg/opc-index-imgs/u189.png" />
    <img id="u191_img" class="img" src="/assets/opcimg/opc-index-imgs/u191.png" />

    <!-- ←箭头+多边+文字+↓箭头+多边+中心椭圆+四向箭头 -->
    <img id="u137p000_img" class="img" src="/assets/opcimg/opc-index-imgs/u137p000.png" />
    <img id="u129_img" class="img" src="/assets/opcimg/opc-index-imgs/u125.png" />
    <div id="u130" class="text" style="visibility: visible">
      <p><span>动态管控</span></p>
    </div>
    <img id="u139p000_img" class="img" src="/assets/opcimg/opc-index-imgs/u139p000.png" />
    <a routerLink="/device-maintenance-plan/detail">
      <img id="u133_img" class="img" src="/assets/opcimg/opc-index-imgs/u133.png" />
      <div id="u134" class="text" style="visibility: visible">
        <p><span>组织管理</span></p>
      </div>
    </a>
    <img id="u91_img" class="img" src="/assets/opcimg/opc-index-imgs/u91.png" />
    <img id="u91_img2" class="img" src="/assets/opcimg/opc-index-imgs/u91.png" />

    <!-- 以动态管控id="u129_img"为起点，竖线+矩形+横线+组合（下细分） -->
    <img id="u181_img" class="img" src="/assets/opcimg/opc-index-imgs/u181.png" />
    <div id="u207_div" class=""></div>
    <div id="u208" class="text" style="visibility: visible">
      <p><span>中心大屏</span></p>
    </div>
    <img id="u165_img" class="img" src="/assets/opcimg/opc-index-imgs/u165.png" />
    <!-- 组合细分1：凹凸多边+分支开始横线+分支开始竖线+分支小横线1+分支小横线2 -->
    <img id="u157_img" class="img" src="/assets/opcimg/opc-index-imgs/u157.png" />
    <div id="u158" class="text" style="visibility: visible">
      <p><span>日计划分解</span></p>
    </div>
    <img id="u171_img" class="img" src="/assets/opcimg/opc-index-imgs/u171.png" />
    <img id="u173_img" class="img" src="/assets/opcimg/opc-index-imgs/u173.png" />
    <img id="u167_img" class="img" src="/assets/opcimg/opc-index-imgs/u167.png" />
    <img id="u169_img" class="img" src="/assets/opcimg/opc-index-imgs/u167.png" />
    <!-- 组合细分2：凹凸多边3个 -->
    <img id="u159_img" class="img" src="/assets/opcimg/opc-index-imgs/u159.png" />
    <div id="u160" class="text" style="visibility: visible">
      <p><span>施工范围管控</span></p>
    </div>
    <img id="u161_img" class="img" src="/assets/opcimg/opc-index-imgs/u159.png" />
    <div id="u162" class="text" style="visibility: visible">
      <p><span>监控人员状态</span></p>
    </div>
    <img id="u163_img" class="img" src="/assets/opcimg/opc-index-imgs/u159.png" />
    <div id="u164" class="text" style="visibility: visible">
      <p><span>施工机具管控</span></p>
    </div>
  </div>
  <!---------------------------- bottom_box结束 ---------------------------->
</div>
