<page-header [breadcrumb]="breadcrumb" [title]="''"></page-header>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/construction-control-plan/list']">动态管控</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/construction-control-plan/list']">方案管控</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>方案详情</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-card nzTitle="方案详情">
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item [nzGutter]="24" id="akagi" style="display: none">
          <nz-form-label [nzSpan]="4" [nzRequired]="true">方案编号</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback>
            <input nz-input formControlName="code" placeholder="请输入计划编码" [(ngModel)]="constructionControlPlan.code" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4" [nzRequired]="true">施工类型</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="constructionStatus" [(ngModel)]="constructionControlPlan.constructionStatus">
              <nz-option [nzValue]="constructionConstrolPlanConstant.BC_CONSTRUCTION" nzLabel="B、C类施工"></nz-option>
              <nz-option [nzValue]="constructionConstrolPlanConstant.NORMAL_CONSTRUCTION" nzLabel="施工"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4" [nzRequired]="true">施工类别</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input
              nz-input
              formControlName="constructionType"
              placeholder="请输入施工类别"
              [(ngModel)]="constructionControlPlan.constructionType"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4" [nzRequired]="true">施工项目</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback>
            <input
              nz-input
              formControlName="constructionProjectInfo"
              placeholder="请输入施工项目"
              [(ngModel)]="constructionControlPlan.constructionProjectInfo"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4" [nzRequired]="true">登记站</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select
              formControlName="signInStationId"
              [(ngModel)]="constructionControlPlan.signInStationId"
              [nzShowSearch]="true"
              [nzAllowClear]="true"
            >
              <div *ngFor="let station of stations">
                <nz-option [nzValue]="station.id" nzLabel="{{ station.name }}"></nz-option>
              </div>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">施工内容及影响范围</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback>
            <textarea
              nz-input
              style="height: 120px"
              formControlName="constructionContentAndInfluenceArea"
              placeholder="施工内容及影响范围"
              [(ngModel)]="constructionControlPlan.constructionContentAndInfluenceArea"
            >
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">建设单位</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback>
            <textarea
              nz-input
              style="height: 120px"
              formControlName="constructDepartment"
              placeholder="建设单位"
              [(ngModel)]="constructionControlPlan.constructDepartment"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">施工单位及负责人</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback>
            <textarea
              nz-input
              style="height: 120px"
              formControlName="constructionDepartmentAndPrincipalName"
              placeholder="施工单位及负责人"
              [(ngModel)]="constructionControlPlan.constructionDepartmentAndPrincipalName"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">监理单位及负责人</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <textarea
              nz-input
              style="height: 120px"
              formControlName="supervisionDepartmentAndPrincipalName"
              placeholder="监理单位及负责人"
              [(ngModel)]="constructionControlPlan.supervisionDepartmentAndPrincipalName"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">设备监护单位及负责人</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <textarea
              nz-input
              style="height: 120px"
              formControlName="equipmentMonitoringDepartmentAndPrincipalName"
              placeholder="设备监护单位及负责人"
              [(ngModel)]="constructionControlPlan.equipmentMonitoringDepartmentAndPrincipalName"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">备注</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <!--            <input nz-input formControlName="remarks" placeholder="备注" [(ngModel)]="constructionControlPlan.remarks"/>-->
            <textarea
              nz-input
              style="height: 120px"
              formControlName="remarks"
              placeholder="备注"
              [(ngModel)]="constructionControlPlan.remarks"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">审核处室</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input
              nz-input
              formControlName="auditDepartment"
              placeholder="审核处室"
              [(ngModel)]="constructionControlPlan.auditDepartment"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item [nzGutter]="24">
          <nz-form-label [nzSpan]="4">星级</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="starRating" placeholder="星级" [(ngModel)]="constructionControlPlan.starRating" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>

<nz-card nzTitle="施工日期及时间">
  <nz-table
    nzBordered
    [nzData]="constructionControlPlanWorkTimeEditables"
    [nzLoading]="constructionControlPlanWorkTimeLoading"
    [nzFrontPagination]="false"
    nzSize="small"
  >
    <thead>
      <tr>
        <th nzWidth="20%">开始日期</th>
        <th nzWidth="20%">结束日期</th>
        <th nzWidth="20%">开始时间</th>
        <th nzWidth="20%">结束时间</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of constructionControlPlanWorkTimeEditables">
        <ng-container *ngIf="!constructionControlPlanWorkTimeEditCache[data.id].edit; else constructionControlPlanWorkTimeEditTemplate">
          <td>{{ data.startDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ data.endDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ data.startTime | date: 'HH:mm' }}</td>
          <td>{{ data.endTime | date: 'HH:mm' }}</td>
          <td><a (click)="constructionControlPlanWorkTimeStartEdit(data.id)">编辑</a>&nbsp;&nbsp;</td>
        </ng-container>
        <ng-template #constructionControlPlanWorkTimeEditTemplate>
          <td>
            <nz-date-picker
              style="width: 100%"
              nzPlaceHolder="开始日期"
              [(ngModel)]="constructionControlPlanWorkTimeEditCache[data.id].data.startDate"
              nzFormat="yyyy-MM-dd"
            ></nz-date-picker>
          </td>
          <td>
            <nz-date-picker
              style="width: 100%"
              nzPlaceHolder="结束日期"
              [(ngModel)]="constructionControlPlanWorkTimeEditCache[data.id].data.endDate"
              nzFormat="yyyy-MM-dd"
            ></nz-date-picker>
          </td>
          <td>
            <nz-time-picker
              style="width: 100%"
              nzPlaceHolder="开始时间"
              [(ngModel)]="constructionControlPlanWorkTimeEditCache[data.id].data.startTime"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </td>
          <td>
            <nz-time-picker
              style="width: 100%"
              nzPlaceHolder="结束时间"
              [(ngModel)]="constructionControlPlanWorkTimeEditCache[data.id].data.endTime"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </td>

          <td>
            <a (click)="saveConstructionControlPlanWorkTime(data.id)"> 保存 </a>&nbsp;
            <a
              nz-popconfirm
              nzPopconfirmTitle="确定要删除吗?"
              (nzOnConfirm)="deleteConstructionControlPlanWorkTime(data.id)"
              nzPopconfirmPlacement="topLeft"
              class="save"
            >
              删除 </a
            >&nbsp;
            <a (click)="cancelEditConstructionControlPlanWorkTime(data.id)">取消</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <button *ngIf="editIndex === -1" nz-button [nzType]="'dashed'" (click)="addConstructionControlPlanWorkTime()" nzBlock class="mt-md">
    <i nz-icon nzType="plus"></i>
    <span>新增日期</span>
  </button>
</nz-card>

<nz-card nzTitle="施工地点">
  <nz-table
    nzBordered
    [nzData]="constructionControlPlanKilometerMarkEditables"
    [nzLoading]="constructionControlPlanKilometerMarkLoading"
    [nzFrontPagination]="false"
    nzSize="small"
  >
    <thead>
      <tr>
        <th nzWidth="16%">线路</th>
        <th nzWidth="16%">行别</th>
        <th nzWidth="16%">起始站</th>
        <th nzWidth="16%">结束站</th>
        <th nzWidth="16%">起始公里标</th>
        <th nzWidth="16%">结束公里标</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of constructionControlPlanKilometerMarkEditables">
        <ng-container
          *ngIf="!constructionControlPlanKilometerMarkEditCache[data.id].edit; else onstructionControlPlanKilometerMarkEditTemplate"
        >
          <td>{{ data.railwayLineName }}</td>
          <td [ngSwitch]="data.downriver">
            <span *ngSwitchCase="constructionControlPlanKilometerMarkConstant.DOWNRIVER">下行</span>
            <span *ngSwitchCase="constructionControlPlanKilometerMarkConstant.UPRIVER">上行</span>
            <span *ngSwitchCase="constructionControlPlanKilometerMarkConstant.SINGLE_LINE">单线</span>
            <span *ngSwitchCase="constructionControlPlanKilometerMarkConstant.UPRIVER_AND_DOWNRIVER">上下行</span>
          </td>
          <td>{{ data.startStationName }}</td>
          <td>{{ data.endStationName }}</td>
          <td>{{ data.startKilometer | kilometerPipe }}</td>
          <td>{{ data.endKilometer | kilometerPipe }}</td>
          <td><a (click)="constructionControlPlanKilometerMarksStartEdit(data.id)">编辑</a>&nbsp;&nbsp;</td>
        </ng-container>
        <ng-template #onstructionControlPlanKilometerMarkEditTemplate>
          <!-- 线路 -->
          <td>
            <nz-select
              style="width: 100%"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.railwayLineId"
              (ngModelChange)="updateRailwayLine(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            >
              <div *ngFor="let railwayLine of railwayLines">
                <nz-option [nzValue]="railwayLine.id" nzLabel="{{ railwayLine.name }}"></nz-option>
              </div>
            </nz-select>
          </td>

          <!-- 行别 -->
          <td>
            <nz-select style="width: 100%" [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.downriver">
              <nz-option [nzValue]="constructionControlPlanKilometerMarkConstant.DOWNRIVER" nzLabel="下行"></nz-option>
              <nz-option [nzValue]="constructionControlPlanKilometerMarkConstant.UPRIVER" nzLabel="上行"></nz-option>
              <nz-option [nzValue]="constructionControlPlanKilometerMarkConstant.SINGLE_LINE" nzLabel="单线"></nz-option>
              <nz-option [nzValue]="constructionControlPlanKilometerMarkConstant.UPRIVER_AND_DOWNRIVER" nzLabel="上下行"></nz-option>
            </nz-select>
          </td>

          <!-- 起始站 -->
          <td>
            <nz-select
              [disabled]="!constructionControlPlanKilometerMarkEditCache[data.id].data.railwayLineId"
              style="width: 100%"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.startStationId"
              (ngModelChange)="updateStartStationId(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            >
              <div *ngFor="let station of stations">
                <nz-option [nzValue]="station.id" nzLabel="{{ station.name }}"></nz-option>
              </div>
            </nz-select>
          </td>

          <!-- 结束站 -->
          <td>
            <nz-select
              [disabled]="!constructionControlPlanKilometerMarkEditCache[data.id].data.railwayLineId"
              style="width: 100%"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.endStationId"
              (ngModelChange)="updateEndStationId(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            >
              <div *ngFor="let station of stations">
                <nz-option [nzValue]="station.id" nzLabel="{{ station.name }}"></nz-option>
              </div>
            </nz-select>
          </td>

          <td>
            K
            <input
              style="width: 42%"
              nz-input
              type="number"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.startKilometerKilometerPart"
              (ngModelChange)="setKilometer(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            />
            +
            <nz-input-number
              style="width: 42%"
              [nzMax]="999"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.startKilometerMeterPart"
              (ngModelChange)="setKilometer(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            >
            </nz-input-number>
          </td>

          <td>
            K
            <input
              style="width: 42%"
              nz-input
              type="number"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.endKilometerKilometerPart"
              (ngModelChange)="setKilometer(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            />
            +
            <nz-input-number
              style="width: 42%"
              [nzMax]="999"
              [(ngModel)]="constructionControlPlanKilometerMarkEditCache[data.id].data.endKilometerMeterPart"
              (ngModelChange)="setKilometer(constructionControlPlanKilometerMarkEditCache[data.id].data)"
            >
            </nz-input-number>
          </td>

          <td>
            <a (click)="saveConstructionControlPlanKilometerMark(data.id)"> 保存 </a>&nbsp;
            <a
              nz-popconfirm
              nzPopconfirmTitle="确定要删除吗?"
              (nzOnConfirm)="deleteConstructionControlKilometerMarkTime(data.id)"
              nzPopconfirmPlacement="topLeft"
              class="save"
            >
              删除 </a
            >&nbsp;
            <a (click)="cancelEditConstructionControlPlanKilometerMark(data.id)">取消</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <button *ngIf="editIndex === -1" nz-button [nzType]="'dashed'" (click)="addConstructionControlPlanKilometerMark()" nzBlock class="mt-md">
    <i nz-icon nzType="plus"></i>
    <span>新增地点</span>
  </button>
</nz-card>

<footer-toolbar errorCollect>
  <button nz-button nzType="primary" (click)="save()">提交</button>
</footer-toolbar>
