<!--out box-->
<div>
  <div class="top_box">
    <table width="100%">
      <tr class="tr_top">
        <td width="10"></td>
        <td class="td_top">
          <div class="div_top_c">
            <img src="/assets/opcimg/opc-index-imgs/u240.png" />
            <img src="/assets/opcimg/opc-index-imgs/u243.png" />
            <img src="/assets/opcimg/opc-index-imgs/u252.png" />
            <img src="/assets/opcimg/opc-index-imgs/u246.png" />
            <img src="/assets/opcimg/opc-index-imgs/u249.png" />
            <span class="td_text">待关联计划：{{ indexPlans.pendingRelevancePlans }} 个</span>
          </div>
        </td>
        <td>
          <div class="div_top_c">
            <img class="p_img" src="/assets/opcimg/opc-index-imgs/u215.png" />
            <img class="img c_img" src="/assets/opcimg/opc-index-imgs/u217.png" />
            <img class="p_img" src="/assets/opcimg/opc-index-imgs/u215.png" />
            <img class="img c_img" src="/assets/opcimg/opc-index-imgs/u222.png" />
            <img class="p_img" src="/assets/opcimg/opc-index-imgs/u215.png" />
            <img class="img c_img" src="/assets/opcimg/opc-index-imgs/u227.png" />
            <img class="p_img" src="/assets/opcimg/opc-index-imgs/u215.png" />
            <img class="img c_img" src="/assets/opcimg/opc-index-imgs/u232.png" />
            <img class="p_img" src="/assets/opcimg/opc-index-imgs/u215.png" />
            <img class="img c_img" src="/assets/opcimg/opc-index-imgs/u237.png" />
            <span class="td_text">未开始施工方案：{{ indexPlans.pendingStartPlans }} 个</span>
          </div>
        </td>
        <td>
          <div class="div_top_c">
            <img src="/assets/opcimg/opc-index-imgs/u258.png" />
            <img src="/assets/opcimg/opc-index-imgs/u261.png" />
            <img src="/assets/opcimg/opc-index-imgs/u264.png" />
            <img src="/assets/opcimg/opc-index-imgs/u267.png" />
            <img src="/assets/opcimg/opc-index-imgs/u270.png" />
            <span class="td_text">正在施工进行：{{ indexPlans.constructingPlans }} 个</span>
          </div>
        </td>
        <td width="10"></td>
      </tr>
    </table>
  </div>

  <!-- bottom box -->
  <div class="div_bottom_box">
    <table>
      <tr>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button" routerLink="/opc/upload">
              <p class="bottom_p">光电缆径路数据</p>
            </button>
          </div>
        </td>
        <td>
          <img id="u109_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u107.png" />
          <img id="u111_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u111.png" />
        </td>
        <td></td>
        <td></td>
        <td>
          <img id="u127_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u127.png" />
          <img id="u123_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u123.png" />
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_by">
              <p style="width: 160px">施工范围管控</p>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button" routerLink="/opc/upload">
              <p class="bottom_p">线路数据</p>
            </button>
          </div>
          <img id="u99p000_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u99p000.png" />
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_qj" routerLink="/construction-coordinate-plan/list">
              <p>方案管控</p>
            </button>
          </div>
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_qj" routerLink="/relevance-plan/list">
              <p>关联正式计划</p>
            </button>
          </div>
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_qj" routerLink="/operation-process/list">
              <p>作业过程管控</p>
            </button>
          </div>
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_by">
              <p style="width: 160px">日管控方案</p>
            </button>
          </div>
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_by">
              <p style="width: 160px">监控人员状态</p>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button" routerLink="/construction-coordinate-plan/investigate-list">
              <p class="bottom_p">施工范围调查</p>
            </button>
          </div>
          <img id="u107_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u107.png" />
        </td>
        <td>
          <img id="u200p000_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u99p000.png" />
        </td>
        <td>
          <img id="u200p000_img1" class="img" src="/assets/opcimg/opc-index-one-imgs/u99p000.png" />
        </td>
        <td></td>
        <td>
          <!--          <img id="u208p000_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u208p000.png" />-->
          <img id="u129_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u129.png" />
          <img id="u125_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u123.png" />
        </td>
        <td>
          <div class="bottom_button_common">
            <button class="bottom_button_by">
              <p style="width: 160px">施工机具管控</p>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <img id="u200p00_img3" class="img" src="/assets/opcimg/opc-index-one-imgs/u200p000.png" />
          <img id="u200p000_img2" class="img" src="/assets/opcimg/opc-index-one-imgs/u99p000.png" />
          <img id="u121p000_img" class="img" src="/assets/opcimg/opc-index-one-imgs/u99p000.png" />
          <div class="bottom_button_common">
            <button class="bottom_button_qj">
              <p>辅助决策</p>
            </button>
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="bottom_button_common">
            <button style="height: 20px; color: white; background: white; border: none"></button>
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
